// TODO sass-lint breaks on this rule
:root {
    // colors
    --brandColor: #509127;
    --lightBackgroundColor: #efefef;
    --lineColor: #aaa;
    --textColor: #333;
    --brightTextColor: #fff;
    --lightTextColor: lighten(#333, 50%);
    --lightShadowColor: rgba(#000, .15);

    // dimensions
    --borderRadius: 0.2rem;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    color: var(--textColor);
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.6;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a {
    color: var(--brandColor);

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
}

input,
button {
    color: inherit;

    &:focus {
        outline: 0;
    }
}

@import 'button';
